<header>
  <ul id="nav-mobile" class="side-nav fixed blue darken-1">
    <li class="logo">
      <a href="/" id="navbar-logo">Intern tips for Brisbane</a>
    </li>
    <li class="bold"><a href="/" class="waves-effect waves-light yellow-text">Primer</a></li>
    <li class="bold"><a href="/" class="waves-effect waves-light yellow-text">Accomodation</a></li>
    <li class="bold"><a href="/" class="waves-effect waves-light yellow-text">Getting around</a></li>
    <li class="bold"><a href="/" class="waves-effect waves-light yellow-text">Places</a></li>
    <li class="bold"><a href="/" class="waves-effect waves-light yellow-text">Student activities</a></li>
    <li class="bold"><a href="/" class="waves-effect waves-light yellow-text">Sport</a></li>
    </li>
  </ul>
</header>